.transaction-row {
   display: flex;
   margin: 1rem 0;
   justify-content: space-between;
   align-items: center;
   min-width: max-content;
   padding: 0.3rem 0;
}

.transaction-description {
   padding: 0 1rem;
}

.transaction-date {
   padding: 0 1rem;
}

.transaction-id {
   padding: 0 1rem;
}

.transaction-amount {
   padding: 0 1rem;
}
