.entry-card {
   display: flex;
   flex-direction: column;
   background-color: var(--background-color-card);
   max-width: 20rem;
   padding: 1.5rem;
   border-radius: 1.25rem;
}

.entry-card-title {
   font-size: 1rem;
   font-weight: bold;
   margin-bottom: 1rem;
   color: var(--text-default);
}

.entry-card-amount {
   display: flex;
   flex-direction: row;
   align-items: baseline;
   color: var(--text-default);
   font-weight: bold;
   margin-bottom: 1rem;
}

.entry-card-amount-text {
   font-size: 0.75rem;
   color: var(--text-default);
   font-weight: normal;
   padding-left: 0.5rem;
}
