@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Sawarabi+Gothic&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   transition: all 0.3s;
}

html {
   height: 100%;
}

html,
body,
#root {
   font-family: 'Noto Sans JP', sans-serif;
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
}

input {
   font-family: 'Noto Sans JP', sans-serif;
}

span {
   color: var(--text-default);
}

button {
   cursor: pointer;
   font-family: 'Noto Sans JP', sans-serif;
}
