.toggle-theme {
   display: flex;
   flex-direction: row;
}

.theme-checkbox {
   text-align: center;
}
.checkedIcon,
.uncheckedIcon {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   font-size: 0.7rem;
   font-weight: bold;
   font-variant: small-caps;
}

@media (max-width: 600px) {
   .toggle-theme {
      display: none;
   }
}
